<div class="container">

    <app-entrada titulo="Me presento, soy Abril!" fecha="11/01/2022"></app-entrada>
    <div class="row">
        <div class="col 2 texto">

            <p>
               Para contarles un poco más sobre mi: me llamo Abril, soy mujer, tengo 27 años, vivo en Argentina y soy programadora. 
            </p>

            <p>
               Empecé este interesante camino mientras estudiaba Ingenieria Ambiental, en la facultad que asistía se estudia también Ingenieria Informática 
               y siempre que veía a mis compañeros estudiantes de informática haciendo trabajos prácticos o tareas había algo que me
               llamaba poderosamente la atención. 
            </p>

            <p>
                En 2019 era en mi último año de cursado de Ambiental, y como el programa se volvía más liviano
                decidí seguir mi instinto y me anoté a la carrera de Informática, si bien en ese momento no tenía intenciones
                de llevarlo a más y lo veía solo como un hobby, quería probar que tal. Hoy, tres años después me dedico
                100% a la programación, es tan amplio y tan interesante el mundo de los desarrolladores que siempre estoy 
                probando cosas, metiendome en nuevos proyectos, descubriendo cosas que no sabía que yo misma
                podía hacer.    
            </p>
            <p>
                Si te pasa parecido a lo que estoy contando, 
                y te pica el bichito informático, te diria que pruebes, no te prometo nada (no es necesario), vos probá, te 
                aseguro que vas a encontrar cosas increíbles e interesantísimas. 
            </p>
        </div>

    </div>



    </div>