<div class="container">

    <div class="row">

        <div class="col">
            <div class="col 1">
                <img class="imagen-inicio" src="../../assets/profile.jpeg" style="width: 10vw; border-radius:10vw;">
            </div>
        </div>

        <div class="col 2">
            <h5>
                Pero... que es esto?
            </h5>

            <p>
                Aqui podre mostrar todos mis proyectos en curso y aquellos que concluya, compartiendo tambien mi
                experiencia:
                que me inspiro, que me ayudo a solucionar los desafios que se fueron presentando, cual fue mi parte
                favorita.
            </p>

            <p>
                Probablemente termine hablando aca de todo un poco, mis reflexiones, mis viajes, mis textos incluso.
                La idea es crear un espacio para compartir un poco las cosas con las que me entretengo.
            </p>

            <p> Gracias por su atencion sres, sean bienvenidos nuevamente. </p>

        </div>

        <div class="row">
                <div class="col 4">
                    <img class="imagen-inicio" style="width: 30vw;"
                        src="../../assets/LRM_EXPORT_3333735397181_20190223_144651639.jpg">
                </div>

                <div class="col">
                    <img class="imagen-inicio" style="width: 30vw;" src="../../assets/IMG_20180102_144336.jpg">
                </div>

        </div>