<div class="container">

    <app-entrada titulo="Me presento, soy Abril!"></app-entrada>
    <div class="row">
        <div class="col 2 texto">

            <p>
                Una de las actividades que más me inspira es viajar: he realizado viajes dentro de mi pais, al sur, al
                norte, al oeste a ver a mi familia.
                Encuentro en ellos momentos de mucha paz y felicidad, aprecio enormemente la naturaleza y he aprendido a
                como cuidarla
                dentro de mis medios.Una de las actividades que más me inspira es viajar: he realizado viajes dentro de mi pais, al sur, al
                norte, al oeste a ver a mi familia.
                Encuentro en ellos momentos de mucha paz y felicidad, aprecio enormemente la naturaleza y he aprendido a
                como cuidarla
                dentro de mis medios.
            </p>

            <p>
                He viajado así mismo por otros lugares más allá de la Argentina, uno de mis destinos favoritos fué
                Colombia, aunque Brasil
                tiene un lugar enorme en mi corazón, su idioma me parece hermoso. Espero poder en el futuro
                complementar mi trabajo con mi pasión y <strong>codeando en rincones inesperados del mundo.</strong>
            </p>
        </div>

    </div>



    </div>