<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5" >
  <!-- Footer -->
  <footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1;  width: 70vw">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-4 text-white" style="background-color: #5271ff">
      <!-- Left -->
      <div class="me-5">
        <span>Conecta con nosotros por email o a través de las redes sociales</span>
      </div>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">AB Desarrollo de Software</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              Somos programadorxs argentinxs. Siempre con ganas de involucrarnos en proyectos que nos despierten interés y 
              nos permitan desarrollar nuestro potencial.
            </p>
            <p>
              Construyendo equipos de desarrollo cómodos y familiares, con respeto y trabajo coperativo.
            </p>
            <p> Somos todo terreno. </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">
              <span class="material-symbols-outlined">
                hub
              </span>
              Proyectos
            </h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              <a href="https://conoce-abds.web.app/proyectos/#rectorado" class="text-dark"> Fullstack en UNL</a>
            </p>
            <p>
              <a href="https://conoce-abds.web.app/proyectos/#OMAS" class="text-dark">OMAS</a>
            </p>  
            <p>
              <a href="https://conoce-abds.web.app/proyectos/#tutorneoapp" class="text-dark">tuTorneoApp</a>
            </p>  
            <p>
              <a href="https://conoce-abds.web.app/proyectos/#wapo" class="text-dark">WAPO</a>
            </p>
            <p>
              <a href="https://conoce-abds.web.app/proyectos/#michinder" class="text-dark">Michinder</a>
            </p>
            <p>
              <a href="https://conoce-abds.web.app/proyectos/#abdevsoftware" class="text-dark">AbdS</a>
            </p>
          </div>
          <!-- <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4"> -->
          <div class="col-md-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">
              <span class="material-symbols-outlined">
                key
              </span>
              Servicios
            </h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />

            <ul>
              <p>
                <li>FullStack/Sitios web/Base de datos</li>
              </p>
              <p>
                <li>Aplicaciones personalizadas, adaptadas al problema, modelacion</li>
              </p>
              <p>
                <li>Aplicaciones moviles: Andoid, iOs</li>
              </p>
              <p>
                <li>Modelación y análisis estadístico </li>
              </p>
              <p>
                <li>Procesamiento de datos </li>
              </p>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">
              <span class="material-symbols-outlined">
                share
              </span>
              Contacto
            </h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p><i class="fas fa-envelope mr-3"></i> Santa Fe - Argentina </p>
            <p><i class="fas fa-envelope mr-3"></i> abrilbenitezabril@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 54 3498 458940</p>
            <p><i class="fas fa-phone mr-3"></i>
              <a href="https://github.com/Abril9?tab=projects">
                <img class="iconos" alt="github" src="../../assets/github.svg">
              </a>
              <a href="http://facebook.com/MariaAbrilBenitez">
                <img class="iconos" alt="facebook" src="../../assets/facebook.png">
              </a>
              <a href="https://www.linkedin.com/in/abril-benitez-bb06b6190/">
                <img class="iconos" alt="linkedin" src="../../assets/linkedin.svg">
              </a>
              <a href="https://www.instagram.com/abril________________/">
                <img class="iconos" style="width: 2vw;" alt="instagram" src="../../assets/instagram.svg">
              </a>
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-dark" href="conoce-abds.web.app">abrilbenitez@DS</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>