<div   class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <img class="imagen-entrada" src="../../assets/profile.jpeg">
        </div>
        <div class="col-lg-2">
            <div class="row">
                <h4> {{titulo}}</h4>
                
                    <h6 class="text-uppercase fw-bold">
                        <span class="material-symbols-outlined">
                          share
                        </span>
                        Principales canales de contacto
                      </h6>
                      <p><i class="fas fa-envelope mr-3"></i> abrilbenitezabril@gmail.com</p>
                      <p><i class="fas fa-phone mr-3"></i> + 54 3498 458940</p>
                      <p><i class="fas fa-phone mr-3"></i>
                        <a href="https://github.com/Abril9?tab=projects">
                          <img class="iconos" alt="github" src="../../assets/github.svg">
                        </a>
                        <a href="http://facebook.com/MariaAbrilBenitez">
                          <img class="iconos" alt="facebook" src="../../assets/facebook.png">
                        </a>
                        <a href="https://www.linkedin.com/in/abril-benitez-bb06b6190/">
                          <img class="iconos" alt="linkedin" src="../../assets/linkedin.svg">
                        </a>
                        <a href="https://www.instagram.com/abril________________/">
                          <img class="iconos" alt="instagram" src="../../assets/instagram.svg">
                        </a>
                      </p>
                
            </div>
        </div>
        <h1>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 70vw;  background-color: #7c4dff; height: 2px" />
        </h1>
    </div>
    <div class="col">
        <img class="imagen-servicios" src="../../assets/contacto2.png"> 
    </div>
</div>