<div class="container my-5">

    <div id="rectorado">
    <app-entrada titulo="Mercurio - Comedor - Formularios - Apipilaga: Mis proyectos en la Universidad Nacional del Litoral"></app-entrada>
    <p>
        Aqui podre mostrar todos mis proyectos en curso y aquellos que concluya, compartiendo tambien mi experiencia:
        que me inspiro, que me ayudo a solucionar los desafios que se fueron presentando, cual fue mi parte favorita.
    </p>
    <p>
        Probablemente termine hablando aca de todo un poco, mis reflexiones, mis viajes, mis textos incluso.
        La idea es crear un espacio para compartir un poco las cosas con las que me entretengo.
    </p>
    </div>
    <div id="wapo">
        <app-entrada titulo="W   A   P   O" ></app-entrada>
        <p>
            Aqui podre mostrar todos mis proyectos en curso y aquellos que concluya, compartiendo tambien mi experiencia:
            que me inspiro, que me ayudo a solucionar los desafios que se fueron presentando, cual fue mi parte favorita.
        </p>
        <p>
            Probablemente termine hablando aca de todo un poco, mis reflexiones, mis viajes, mis textos incluso.
            La idea es crear un espacio para compartir un poco las cosas con las que me entretengo.
        </p>
    </div>
    
    <div id="michinder">
    <app-entrada titulo="M   i   c   h   i   n   d   e   r "> </app-entrada>
    <p>
        Aqui podre mostrar todos mis proyectos en curso y aquellos que concluya, compartiendo tambien mi experiencia:
        que me inspiro, que me ayudo a solucionar los desafios que se fueron presentando, cual fue mi parte favorita.
    </p>
    <p>
        Probablemente termine hablando aca de todo un poco, mis reflexiones, mis viajes, mis textos incluso.
        La idea es crear un espacio para compartir un poco las cosas con las que me entretengo.
    </p>
    <p>
        Espero que les resulte interesante a quienes terminen por aqui y (si en el futuro termino de implementarlo)
        sea tambien un lugar de intercambio donde puedan dejarme consejos y observaciones.
    </p>
    </div>
    <div id="aplicacion-para-un-cultivo">
    <app-entrada titulo="Aplicacion      para        un      cultivo"> </app-entrada>
    <p>
        Aqui podre mostrar todos mis proyectos en curso y aquellos que concluya, compartiendo tambien mi experiencia:
        que me inspiro, que me ayudo a solucionar los desafios que se fueron presentando, cual fue mi parte favorita.
    </p>
    <p>
        Probablemente termine hablando aca de todo un poco, mis reflexiones, mis viajes, mis textos incluso.
        La idea es crear un espacio para compartir un poco las cosas con las que me entretengo.
    </p>
    <p>
        Espero que les resulte interesante a quienes terminen por aqui y (si en el futuro termino de implementarlo)
        sea tambien un lugar de intercambio donde puedan dejarme consejos y observaciones.
    </p>
    <p> 
        Gracias por su atencion sres, sean bienvenidos nuevamente. 
    </p>
    </div>
</div>