<div class="container my-5">

    <div id="rectorado">
        <app-entrada titulo="Mi experiencia en la Universidad Nacional del Litoral"></app-entrada>

        <div class=" texto">
        <p>
            En mayo de 2021 empece a trabajar como <strong> programadora fullstack</strong> para la dirección de tecnologías y
            comunicaciones de la UNL, fué mi primer
            trabajo como programadora y en los dos años que estuve allí aprendí un montón de cosas nuevas para mi.
        </p>

        </div>

        <p>        <br>      </p>

        <div class="row">
            <div class="col-2">
                <img style="width: 30vw;" src="../../assets/apipi2.png">
            </div>

            <div class="col-2">
                <img style="width: 40vw; padding-left: 20vw;" src="../../assets/cmd1.png">
            </div>
        </div>

        <p>        <br>      </p>


        <div class="texto">
        <p>
            La universidad gestiona varios sistemas con diversas funcionalidades, algunos proyectos en los que trabajé
            fueron el del comedor universitario
            de la facultad, el de formularios, el de medios de cobros, el de facuración, entre otros. Tuve la
            oportunidad de realizar una gran variedad
            de desarrollos: <strong>desde hacer modificaciones a las bases de datos de los proyectos,
            implementar mecanismos de seguridad, gestionar roles de usuarios con tokens, planificacion de procesos
            asincrónicos,
            generar informes automaticos, hasta simples mejoras de interfaz para hacer la interfaz del usuario
            más amigable.</strong>

        </p>

        </div>

        <div class="col">
            <img style="padding-left: 10vw; width: 50vw;" src="../../assets/fml2.png">
        </div>

    </div>

    <p>        <br>      </p>

    <div id="wapo">
        <app-entrada titulo="W   A   P   O, Optimus Provision of Water" fecha="01/11/2023"></app-entrada>
        <div class=" texto">
            <p>
                WAPO, de la sigla <strong>Optimus Provision of Water </strong>, es una <strong> aplicación standalone</strong>
                que desarrollé en 2019 como estudiante de
                Ingeniería Informática,
                está implementada por completo en el lenguaje <strong> C++</strong> y utiliza <strong> wxFormBuilder
                </strong> para generar su interfaz gráfica.
            </p>
            <p>
                La idea fué modelar una localidad o comunidad como un sistema considerando mediciones, información
                demográfica y
                parámetros ambientales y a partir de este modelo calcular el rendimiento proviniente de diferentes
                fuentes de abastecimiento potable: reservas, bombas de agua subterránea, tomas de agua de río,
                recolección de agua pluvial y camiones cisterna; y así calcular los caudales de abastecimiento de agua
                posibles.
            </p>
            <p>
                <strong> WAPO registra y procesa datos ingresados manualmente por un operador formado en el
                    funcionamiento de la
                    herramienta,
                    y partir de los cuales el software genera diagnósticos e informes de la situación
                    acual de cada una de las zonas del sistema que describe. También genera predicciones que intentan
                    advertir
                    situaciones de desabastecimiento
                    de agua potable para que las autoridades competentes que cuenten con esta herramienta puedan tomar
                    las
                    medidas de control
                    y auxilio de la población a tiempo. </strong>
            </p>
            <p>
                Este desarrollo no hubiera sido posible sin varios de los conceptos que aprendí como estudiante de
                Ingeniería Ambiental,
                mi primer carrera, de ella tome ecuaciones, parametros y coeficientes que me orientaron a la hora de
                enfrentarme con el
                modelado, sacando la parte informática a parte. Es por ello que WAPO es mi proyecto más querido, me
                permitió
                por primera
                vez fundir mis dos grandes pasiones acádemicas y lograr una sinergia entre ellas. Me resultó un desafío
                super interesante
                y espero en el futuro seguir mejorando la aplicación ya que hay un montón de mejoras y funcionalidades
                que
                le quisierá agregar.
            </p>
        </div>
    </div>

    <p>        <br>      </p>

    <div id="michinder">
        <!-- <app-entrada titulo="M   i   c   h   i   n   d   e   r, a finder for michis" fecha="01/05/2023"> </app-entrada> -->
        <app-entrada titulo="Michinder, a finder for michis" fecha="01/05/2023"> </app-entrada>

        <div class="texto">
            <p>
                Michinder es una <strong> aplicación movile</strong> que estoy desarrollando en <strong> Ionic </strong>
                (front) y
                <strong> python</strong> (back), la idea de mis clientes es tener una aplicación para publicar gatitos
                perdidos
                o encontrados en la ciudad de Santa Fe, como reemplazo a los actuales grupos de busquedas y rescates que
                funcionan
                actualmente en facebook o instagram, de forma de agilizar el proceso y que la comunicación sea más
                clara.
            </p>
            <p>
                Los usuarios descargan la aplicación, se registran y pueden empezar a publicar sus mascotas perdidas o
                algún
                gatito que hayan visto perdido por la calle. Me pareció una idea super noble e interesante a nivel
                software
                para implementar, así que estamos muy felices de ser parte de este hermoso proyecto.
            </p>
        </div>

        <div class="row">
            <div class="col-2">
                <img style="width: 20vw; " src="../../assets/michinder1.png">
            </div>
            <div class="col-2">
                <img style="width: 40vw; padding-left: 20vw;" src="../../assets/michinder2.png">
            </div>
        </div>

    </div>

    <p>        <br>      </p>

    <div id="abds">
        <app-entrada titulo="Abril Benitez Desarrollo de Software, soluciones a medida" fecha="01/05/2023"> </app-entrada>

        <div class="texto">
            <p>
                Este proyecto es mi startup de desarrollo de software, el <strong> 2023</strong> me decidí
                a impulsar un poco más mi trabajo como <strong>programadora freelance</strong>, siendo este sitio web el
                punto de partida
                principal.
            </p>
            <p>
                Vengo trabajando con otras compañeras desarrolladoras en distintos proyectos independientes, los cuales
                algunos se encuentran aquí
                publicados, otros no por estar todavía en instancias muy prematuras del desarroll, pero que irán
                saliendo a la luz a su debido tiempo.
                Independientemente de esto, ya nos surgió la necesidad
                de un espacio donde compartir nuestros proyectos y nuestras experiencias, tanto para mejorar la
                comunicación con los clientes
                como para tener un espacio de encuentro con otros compañeros codeadores.
            </p>
            <p>
                Esperamos tener un gran año lleno de nuevos proyectos, nuevas tecnologías, y de nuevas oportunidades de
                seguir creciendo en la profesión.
            </p>
            <p>
                <strong>¡Les deseamos a ustedes también un exitoso 2023! </strong>
            </p>
        </div>

    </div>
</div>