<div class="container my-5">

    <div id="rectorado">
        <app-entrada titulo="Soy desarrolladora para la universidad en la que estudié!"></app-entrada>

        <div class=" texto">
            <p>
                En mayo de 2021 empece a trabajar como <strong> programadora fullstack</strong> para la Dirección
                Gestión de Tecnologías y
                Comunicaciones de la Universidad Nacional del Litoral, fué mi primer
                trabajo como programadora y en el tiempo que llevo allí aprendí un montón de cosas nuevas para mi.
            </p>

        </div>
        <p> <br> </p>

        <div class="row">
            <div class="col-2">
                <img style="width: 30vw;" src="../../assets/apipi2.png">
            </div>

            <div class="col-2">
                <img style="width: 40vw; padding-left: 20vw;" src="../../assets/cmd1.png">
            </div>
        </div>

        <p> <br> </p>


        <div class="texto">
            <p>
                La universidad gestiona varios sistemas con diversas funcionalidades, algunos proyectos en los que
                trabajé
                fueron el del comedor universitario de la facultad, el de formularios, el de medios de cobros, el de
                facuración,
                entre otros. Tuve la oportunidad de realizar una gran variedad de desarrollos:
                <strong>desde hacer modificaciones a las bases de datos de los proyectos,
                    implementar mecanismos de seguridad, gestionar roles de usuarios con tokens, planificacion de
                    procesos
                    asincrónicos, generar informes automaticos, hasta simples mejoras de interfaz para hacer la interfaz
                    del usuario
                    más amigable.</strong>

            </p>

        </div>

        <div class="col">
            <img style="padding-left: 10vw; width: 50vw;" src="../../assets/fml2.png">
        </div>

    </div>

    <p> <br> </p>


    <div id="OMAS">
        <app-entrada titulo="OMAS, aplicación de optimización de procesos" fecha="01/05/2023"> </app-entrada>

        <div class="texto">
            <p>
                OMAS es una empresa italiana para la que desarrollamos
                un prototipo de <strong> aplicación para optimización de procesos</strong>.
                Fue la iniciativa de uno de sus ingenieros la que me convocó, junto a otros desarrolladores,
                y planteó como desafío procesar la información existente en las bases
                de datos de la fabrica para mejorar la productividad de la misma mediante el analisís
                de datos. Aquí dejo el <a href="https://omas-remito.vercel.app/oda">link a un prototipo</a> que
                publicamos.
            </p>
            <div class="row">
                <div class="col-2">
                    <img style="width: 50vw; " src="../../assets/omas1.jpeg">
                </div>
            </div>
            <br>
            <p>
                Me tocó realizar el rol de <strong>desarrolladora BackEnd</strong>, junto a otro compañero, Hernán, de
                la Plata.
                El proyecto fue planteado para ser implementado en <strong>Python</strong> y <strong>React</strong>.
                También decidimos utilizar <strong> Django</strong> como framework para la aplicación y para conectarnos
                facilmente con la base de datos
                (datos de prueba, generados), la cual se encuentra en <strong>MySQL</strong>.
            </p>
            <p>
                Se presentaron algunos obstáculos inherentes a la construcción de proyectos de estas características,
                los cuales
                resolvimos con herramientas que fuimos sugiriendo en base a nuestras propias experiencias previas, entre
                los integrantes del equipo de desarrollo.
            </p>
        </div>

        <div class="row">
            <div class="col-2">
                <img style="width: 40vw; padding-left: 2vw;" src="../../assets/omas3.png">
            </div>
            <div class="col-2">
                <img style="width: 40vw; padding-left: 25vw;" src="../../assets/omas2.jpeg">
            </div>
        </div>

    </div>

    <p> <br> </p><div id="tutorneoapp">
        <app-entrada titulo="TUTORNEO, organizador de torneos deportivos" fecha="01/03/2023"> </app-entrada>

        <div class="texto">
            <p>
                <strong> Tu torneo</strong> es una aplicación que estamos desarrollando actualemente, se trata de un sistema
                para organizar torenos de Paddle (principalmente). Mi cliente deseaba facilitar la coordinación de
                los torneos a los que solia asistir y decidió implementar su propia aplicación y confiar en nosotros para 
                ello.
                Aquí dejo el <a href="https://tutorneo-app.web.app/folder/inicio/inicio">link a un prototipo</a> que
                publiqué para ilustrar durante el desarrollo.
            </p>
            <div class="row">
                <div class="col-2">
                    <img style="width: 40vw; padding-left: 5vw; " src="../../assets/tutorneo5.png">
                </div>
            </div>
            <br>
            <p>
                Decidimos que el proceso de desarrollo de la misma se organice en <strong> prototipos</strong>, los cuales
                irian incrementando la complejidad y funcionalidades que ofrece.
                Fue implementado en <strong>Django</strong> e <strong> Ionic</strong>, optamos por Ionic debido a que se espera
                mayor acceso a la aplicación desde dispositivos móviles.
            </p>
            <div class="row">
                <div class="col-2">    
                    <img style="width: 30vw; padding-left: 0vw; " src="../../assets/tutorneo4.png">
                </div>
                <div class="col-2">
                    <img style="width: 40vw; padding-left: 20vw;" src="../../assets/tutorneo1.png">
                </div>
            </div>

            <p> Este proyecto se caracteriza por ir cambiando y progresando a medida que avanzamos en el desarrollo, 
                vamos tomando mayor dimensión del modelo que debemos armar y de las diferentes alternativas de representación 
                por las que podemos optar. 
            </p>
        </div>

    </div>

    <p> <br> </p>



    <div id="wapo">
        <app-entrada titulo="W   A   P   O, Optimus Provision of Water" fecha="01/11/2023"></app-entrada>
        <div class=" texto">
            <p>
                WAPO, de la sigla <strong>Optimus Provision of Water </strong>, es una <strong> aplicación
                    standalone</strong>
                que desarrollé en 2019 como estudiante de
                Ingeniería Informática,
                está implementada por completo en el lenguaje <strong> C++</strong> y utiliza <strong> wxFormBuilder
                </strong> para generar su interfaz gráfica.
            </p>
            <p>
                La idea fué modelar una localidad o comunidad como un sistema considerando mediciones, información
                demográfica y
                parámetros ambientales y a partir de este modelo calcular el rendimiento proviniente de diferentes
                fuentes de abastecimiento potable: reservas, bombas de agua subterránea, tomas de agua de río,
                recolección de agua pluvial y camiones cisterna; y así calcular los caudales de abastecimiento de agua
                posibles.
            </p>
            <p>
                <strong> WAPO registra y procesa datos ingresados manualmente por un operador formado en el
                    funcionamiento de la
                    herramienta,
                    y partir de los cuales el software genera diagnósticos e informes de la situación
                    acual de cada una de las zonas del sistema que describe. También genera predicciones que intentan
                    advertir
                    situaciones de desabastecimiento
                    de agua potable para que las autoridades competentes que cuenten con esta herramienta puedan tomar
                    las
                    medidas de control
                    y auxilio de la población a tiempo. </strong>
            </p>
            <p>
                Este desarrollo no hubiera sido posible sin varios de los conceptos que aprendí como estudiante de
                Ingeniería Ambiental,
                mi primer carrera, de ella tome ecuaciones, parametros y coeficientes que me orientaron a la hora de
                enfrentarme con el
                modelado, sacando la parte informática a parte. Es por ello que WAPO es mi proyecto más querido, me
                permitió
                por primera
                vez fundir mis dos grandes pasiones acádemicas y lograr una sinergia entre ellas. Me resultó un desafío
                super interesante
                y espero en el futuro seguir mejorando la aplicación ya que hay un montón de mejoras y funcionalidades
                que
                le quisierá agregar.
            </p>
        </div>
    </div>

    <p> <br> </p>

    <div id="michinder">
        <!-- <app-entrada titulo="M   i   c   h   i   n   d   e   r, a finder for michis" fecha="01/05/2023"> </app-entrada> -->
        <app-entrada titulo="Michinder, a finder for michis" fecha="01/05/2023"> </app-entrada>

        <div class="texto">
            <p>
                Michinder es una <strong> aplicación movile</strong> que estoy desarrollando en <strong> Ionic </strong>
                y
                <strong> python</strong>, la idea de mis clientes es tener una aplicación para publicar gatitos
                perdidos o encontrados en la Ciudad de Santa Fe, como reemplazo a los grupos de búsquedas y rescates que
                funcionan actualmente en facebook o instagram, de forma de agilizar el proceso y que la comunicación sea
                más
                clara.
            </p>
            <p>
                Los usuarios descargan la aplicación, se registran y pueden empezar a publicar sus mascotas perdidas o
                algún gatito que hayan visto perdido por la calle. Me pareció una idea super noble e interesante a nivel
                software para implementar, así que estamos muy felices de ser parte de este hermoso proyecto.
            </p>
        </div>

        <div class="row">
            <div class="col-2">
                <img style="width: 20vw; " src="../../assets/michinder1.png">
            </div>
            <div class="col-2">
                <img style="width: 40vw; padding-left: 20vw;" src="../../assets/michinder2.png">
            </div>
        </div>

    </div>

    <p> <br> </p>

    <div id="abdevsoftware">
        <app-entrada titulo="Abril Benitez Desarrollo de Software, soluciones a medida" fecha="01/05/2023">
        </app-entrada>

        <div class="texto">
            <p>
                Este proyecto es mi startup de desarrollo de software, en el <strong> 2023</strong> me decidí
                a impulsar un poco más mi trabajo como <strong>programadora freelance</strong>, siendo este sitio web el
                punto de partida
                principal.
            </p>
            <p>
                Vengo trabajando con otras compañeras desarrolladoras en distintos proyectos independientes, los cuales
                algunos se encuentran aquí
                publicados, otros no por estar todavía en instancias muy prematuras del desarroll, pero que irán
                saliendo a la luz a su debido tiempo.
                Independientemente de esto, ya nos surgió la necesidad
                de un espacio donde compartir nuestros proyectos y nuestras experiencias, tanto para mejorar la
                comunicación con los clientes
                como para tener un espacio de encuentro con otros compañeros codeadores.
            </p>
            <p>
                Esperamos tener un gran año lleno de nuevos proyectos, nuevas tecnologías, y de nuevas oportunidades de
                seguir creciendo en la profesión.
            </p>
            <p>
                <strong>¡Les deseamos a ustedes también un exitoso 2023! </strong>
            </p>
        </div>

    </div>
</div>