<div class="container my-5">

  <app-banner-ligth></app-banner-ligth>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <div class="container-fluid">
     -->
     <div>
      <div class="collapse navbar-collapse" id="navbarText">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="navbar-brand" routerLink="bienvenido" aria-disabled="true"> 
              <span class="material-icons" style="margin-left: 1vw; margin-right: 1vw;">
                home
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="proyectos" aria-disabled="true"> Proyectos </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="sobremi" aria-disabled="true"> Sobre mi </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacto" aria-disabled="true"> Contacto </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacto" aria-disabled="true"> Equipo </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacto" aria-disabled="true"> Blog </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


