<div class="container">

    <app-entrada titulo="2023 y (este) nuevo proyecto" fecha="12/10/2023"></app-entrada>
    <div class="row">
        <div class="col 2 texto">

        </div>

        <app-entrada titulo="Una arista viajera" fecha="12/10/2023"></app-entrada>
        <div class="row">

            <div class="col 4">
                <img class="imagen-inicio" style="width: 20vw;"
                    src="../../assets/LRM_EXPORT_3333735397181_20190223_144651639.jpg">

                <p>
                    <br>
                </p>
            </div>
            <div class="col 2 texto">
                <p>
                    Una de las actividades que más me inspira es viajar: he realizado viajes dentro de mi pais, al sur,
                    al
                    norte, al oeste a ver a mi familia.
                    Encuentro en ellos momentos de mucha paz y felicidad, aprecio enormemente la naturaleza y he
                    aprendido a
                    como cuidarla
                    dentro de mis medios.
                </p>

                <p>
                    He viajado así mismo por otros lugares más allá de la Argentina, uno de mis destinos favoritos fué
                    Colombia, aunque Brasil
                    tiene un lugar enorme en mi corazón, su idioma me parece hermoso. Espero poder en el futuro
                    complementar mi trabajo con mi pasión y <strong>codeando en rincones inesperados del mundo.</strong>
                </p>
            </div>
        </div>


        <app-entrada titulo="Ingenierias y vocaciones" fecha="12/10/2023"></app-entrada>
        <div class="row">
            <div class="col 2 texto">

            </div>

        </div>
    </div>