<div class="container">

    <app-entrada titulo="2023 y (este) nuevo proyecto" fecha="12/10/2023"></app-entrada>
    <div class="row">
        <div class="col 2 texto">

            <p>
                <strong>¡Bienvenidos a ABDS!</strong> Es mi pequeño (por ahora) proyecto como desarrolladora freelance.
                Este año decidí destinarle más energía a mi trabajo independiente, los principales objetivos son
                un rol más activo en los proyectos en los cuales me invólucro y en las tecnologías que utilizo,
                permitiendome así el tiempo para aprender más sobre aquello que me intereza incorportar 
                y también para perfeccionarme en las herramientas que ya dispongo.
            </p>
            <p>
                Trabajo en mis proyectos personales con ayuda de mis compañeros desarrolladores, entiendo que es esta
                que la forma de avanzar a un <strong> ritmo competitivo</strong> para cumplir con los compromisos que asumo. Por otro lado,
                del intercambio con ellos es que cada uno de nosotres sale fortalecido, reorientado, inspirado y con nuevos
                conocimientos. Ni hablar de que se disfruta más si es compartido con la gente que elegís tener al lado, 
                a medida que vas compartiendo más aprendes sobre tus propias debilidades y fortalezas a la hora de relacionarte
                y a la hora de organizarte, en la comunicación. <strong>Todas estas son ventajas no tan esperadas de el trabajo en equipo!</strong> 
            </p>
            <p>

                Tenemos la capacidad para <em> desarrollar software de tipo aplicaciones movile, sitios web, aplicaciones personalizadas
                para resolver problemás de gestión, organización, procesamiento de datos, estádisticas. Aplicaciones multiplataforma, 
                soporte y mantenimiento. 
                Podemos mejorar la experiencia de usuario de tu pagina u aplicación, haciendola más accesible, más simple, más segura.</em> 
            </p>
            <p></p>
        </div>

        <app-entrada titulo="Una arista viajera" fecha="12/10/2023"></app-entrada>
        <div class="row">

            <div class="col 4">
                <img class="imagen-inicio" style="width: 20vw;"
                    src="../../assets/LRM_EXPORT_3333735397181_20190223_144651639.jpg">

                <p>
                    <br>
                </p>
            </div>
            <div class="col 2 texto">
                <p>
                    Una de las actividades que más me inspira es viajar: he realizado viajes dentro de mi pais, al sur,
                    al
                    norte, al oeste a ver a mi familia.
                    Encuentro en ellos momentos de mucha paz y felicidad, aprecio enormemente la naturaleza y he
                    aprendido a
                    como cuidarla
                    dentro de mis medios.
                </p>

                <p>
                    He viajado así mismo por otros lugares más allá de la Argentina, uno de mis destinos favoritos fué
                    Colombia, aunque Brasil
                    tiene un lugar enorme en mi corazón, su idioma me parece hermoso. Espero poder en el futuro
                    complementar mi trabajo con mi pasión y <strong>codeando en rincones inesperados del mundo.</strong>
                </p>
            </div>
        </div>


        <!-- <app-entrada titulo="Ingenierias y vocaciones" fecha="12/10/2023"></app-entrada>
        <div class="row">
            <div class="col 2 texto">

            </div>

        </div> -->
    </div>