<div  class="container my-5"> 
    <div class="col">
        <img  style="width: 70vw;" src="../../assets/banner1.png"> 
    </div>
    
    <br>

    <app-entrada titulo="Comencemos" fecha="11/07/2022">    </app-entrada>
    <div class="col texto" id="comencemos">
        <p>  
            ¡Hola! Me presento, soy Abril y desarrollé este sitio web para compartir los proyectos de ABDS, así como aspectos sobre 
            la experiencia que transitamos durante el desarrollo. 
            También compartiremos un poco sobre nuestras ideas, aquellas cosas que nos inspiran
            a seguir creciendo y aprendiendo, lo que despierta nuestra curiosidad.
        </p>
        
        <p>
            Espero crear un espacio para compartir un poco las cosas con las que me entretengo y con las que me encuentro en mi trabajo.
        </p>
        <p> 
            Espero que el sitio le resulte interesante y útil a quién por un motivo u otro termine por aquí. 
        </p>
        <p> Gracias por su atención, ahora pueden recorrer a gusto. </p>    
        
    </div>
    
    <h1>
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 70vw;  background-color: #7c4dff; height: 2px" />
    </h1>

    <div class="col">
        <img style="width: 70vw;" src="../../assets/tecnologias.png"> 
    </div>

    </div>

